/*显示数据结果集的用户控件样式*/

.infoPanel
{
    position: absolute;font-family: 微软雅黑;height:28px;line-height:28px;color:#1B60C3;font-size:small;padding:5px 10px 0px 10px;
}

.pageTile
{
    position: absolute;font-family: 微软雅黑;height:18px;line-height:18px;color:#1B60C3;font-size:11pt;padding:2px 2px 2px 2px; 
}

.queryPanel
{
    position: absolute; font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small;min-width:800px; padding: 5px 0px 5px 0px;    
}

.queryPanelNew
{
    position: absolute; left:10px;top:10px;background-color: White; border: 1px solid silver;padding: 0px 10px 0px 10px;
    font-family: 微软雅黑;font-size: small; 
}

.dataPanel
{
    position: absolute;font-family: 微软雅黑;border:1px solid silver;background-color: White;
}

.btnPanel
{
    position: absolute; font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small; min-width: 800px; padding: 0px 10px 0px 10px ;
    border-top: 0px solid #DDDDDD; border-bottom:0px solid #DDDDDD;background-color: #EEEEEE;
}

.btnPanel2
{
   height:24px;padding:6px 0px 6px 0px;color:black;font-family: 微软雅黑;font-size: small; font-weight: normal;
}
.btnPanel3
{
   float:left;height:24px;margin-top:4px;color:black;font-family: 微软雅黑;font-size: small; font-weight: normal;
}
.btnBox
{
    position:relative;float:left;
}

.button
{
    position:relative;float:left;width:90px;height:26px;margin-left:0px;border:1px solid transparent;border-left:1px solid transparent;background-color:transparent;
}

.button:hover
{
    background-color:#DDDDDD;/*#D9D9D9border-left: 1px solid #DDDDDD; border-right:1px solid #DDDDDD;*/
}

.button2
{
    position:relative;float:left;width:70px;height:26px;margin-left:5px;border:1px solid #D0D0D0;background-color:transparent;cursor:pointer;
}

.button2:hover
{
    background-color:#E9E9E9;
}

.cancelButtonW
{
    position:relative;float:left;width:70px;height:26px;margin-left:5px;border:1px solid #D0D0D0;background-color:transparent;cursor:pointer;color:#EEEEEE;
}

.cancelButtonW:hover
{
    color:black;background-color:#EEEEEE;
}

.keyButton2
{
    position:relative;float:left;width:70px;height:26px;margin-left:5px;border:1px solid #D0D0D0;background-color:#D0D0D0;cursor:pointer;
}

.keyButton2:hover
{
    background-color:#EEEEEE; 
}

.button3
{
    position:relative;float:left;width:50px;height:26px;margin-left:0px;border:0px;border-right:1px solid #EEEEEE;background-color:transparent;
}

.button3:hover
{
   color:#1B60C3; /*background-color:#EEEEEE;*/
}

.button4
{
    position:relative;float:left;min-width:70px;height:26px;margin-left:10px;border:1px solid #D0D0D0;background-color:transparent;cursor:pointer;
}

.button4:hover
{
    background-color:#E0E0E0;
}

.keyButton4
{
    position:relative;float:left;min-width:70px;height:26px;margin-left:10px;border:1px solid #017BBA;background-color:#017BBA;color:White;cursor:pointer;
}


.keyButton4:hover
{
    border:1px solid #017BBA;background-color:#017BBA;color:White;
}

.row
{
    margin:8px 0px 8px 0px;height:24px;padding-bottom:12px;border-bottom:1px solid #EEEEEE
}

.cellDiv
{
   float:left;padding:0px 8px 0px 8px;
}
.textBox
{
    position:relative;width:90px;height:22px;line-height:22px;border:1px solid silver;
}

.dropDownList
{
    float:left;font-size:small;width:100px;height:24px;line-height:24px;border:1px solid #D0D0D0;padding:0px 2px 0px 2px;cursor:pointer;
}

.textBox2
{
   float:left;width:110px;height:24px;line-height:24px;border:1px solid #D0D0D0;padding:0px 2px 0px 2px;
}

.label
{
   float:left;line-height:24px;padding-right:2px;
}

.txtDate
{
   float:left;width:70px;height:24px;line-height:24px;border:1px solid silver;padding:0px 2px 0px 2px;
}

.btnDate
{
   float:left;border:1px solid silver;height:24px;width:24px;border-left:0px;cursor:pointer;
   background:url("/SzdwControls/image/datePicker/calendar16G.png") no-repeat center;
}

.imgDate
{
   position:relative;left:4px;top:4px;
}

.filterPanel
{
   height:24px;padding:10px 0px 10px 0px;border-bottom:1px solid #EEEEEE;
}

.groupTitle
{
   position: relative; font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small; height:22px;padding:0px 20px 0px 20px;margin:7px 0px 3px 0px;color:#C0C0C0;
}
.groupPanel
{
   position: absolute; font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small;padding:10px; margin:0px 0px 0px 0px;background-color:#404040;
}
/*===========检查结果录入控件样式===========*/
.InspectgroupPanel
{
   position: absolute; font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small;padding:10px; color:black; margin:0px 0px 0px 0px;background-color:#404040;
}
/*===========弹窗中控件样式===========*/
.pwBtnPanel{
    font-family: 微软雅黑;font-size: small; color:white;
}

.pwRow{
    margin-bottom:10px; height: 24px;
}
.switchRow {
	margin-bottom:10px; height: 24px;
}
.pwBtnDate{
    position: relative;height:26px;width:26px; border-left: 0px; cursor: pointer;
    background:url("/SzdwControls/image/datePicker/calendar16G.png") center no-repeat #666666;opacity: 0.9;
}

.pwTextBox
{
   float:left;width:256px;height:24px;line-height:24px;padding:0px 3px 0px 3px;
   color: White;border: 1px solid #666666;background-color:#666666;opacity: 0.9;
}

.pwDropDownList
{
   float:left;width:256px;height:24px;line-height:24px;padding:0px 3px 0px 3px;
   color: White;border: 1px solid #666666;background-color:#666666;opacity: 0.9;
}

.pwTextarea
{
   float:left;font-family: 微软雅黑, Arial, Helvetica, sans-serif; font-size: small;
   width:256px;height:75px;line-height:16px;padding:0px 3px 0px 3px; overflow:auto;
   color: White;border: 1px solid #666666;background-color:#666666;opacity: 0.9;
}

.pwCheckbox
{
   float:left;height:20px;line-height:20px;color: White;border: 1px solid #666666;font-size: small;
}

.pwLabel
{
   float:left;line-height:26px;padding-right:2px;color: White; text-align:right;
}
.pwLabel1 {
	width:190px;float:left;line-height:26px;padding-right:2px;color: White; text-align:left;
}
.pwTextBox1
{
   float:left;width:200px;height:24px;line-height:24px;padding:0px 3px 0px 3px;color: White;
}
.pwKeyButton2
{
    position:relative;float:left;width:70px;height:26px;margin-left:5px;border:1px solid #666666;background-color:#666666;cursor:pointer;color:White;
}

.pwKeyButton2:hover
{
    background-color:#505050;color:White; 
}

.pwButton2
{
    position:relative;float:left;width:70px;height:26px;margin-left:5px;border:1px solid #666666;background-color:transparent;cursor:pointer;color:White;
}

.pwButton2:hover
{
    background-color:#666666;color:White;
}

.dataTable {
	font-size: small;
	font-family: 宋体;
	border-collapse:collapse;
	border-left: 0px solid #ccc;
}
	.dataTable .header {
		text-align:center;
	}
	.dataTable .trData {
		text-align:right;
	}
.dataTable tr{
	height:24px;
	border-bottom:0px solid #ccc;
	font-weight:normal;
}

.dataTable td{
	height:24px;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-weight:normal;
	white-space:nowrap;
}

.infoWinTable {
	font-family: 微软雅黑;
	font-size: small;
	margin:0px;
	padding:0px;
}
.infoWinTable tr.do td{
	height:22px;
}
.infoWinTable tr.do :hover{
	background-color: #91C9F7;
} 
.infoWinTable tr.do :hover td {
	background:none;
}
.hs {
height:1px;border:none;border-top:1px solid silver;
}

.tabText
{
   width:110px;height:26px;line-height:26px;background-color:#F8F8F8;border:1px solid #ef473a;padding:0px 2px 0px 2px;cursor:pointer;
}
.tabActived{
	color:#fff;
	border-color:#ef473a;
	background-color:#ef473a;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
input::-ms-clear {
    display: none;
}
