::-webkit-scrollbar{width: 7px; height: 7px;}
::-webkit-scrollbar-track{/*border-radius: 10px;*/ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
::-webkit-scrollbar-track:hover{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); background-color: rgba(0,0,0,0.01);}
::-webkit-scrollbar-track:active{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); background-color: rgba(0,0,0,0.05);}
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05); /*border-radius: 10px;*/ -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2); /*border-radius: 10px;*/ -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:hover{background-color: rgba(0,0,0,0.4); -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-thumb:active{background-color: rgba(0,0,0,0.4);}
*{font-size:9pt;}
body{margin:0px;padding:0px;font-family:微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;color:#000000;}
*{margin:0;padding:0;}
select{outline:none;}
ul{list-style:none;}

.todayInfoPanelTab{height:36px;line-height:36px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}
.settingtable{background-image:none;background-attachment:scroll;background-repeat:repeat;background-position-x:0%;background-position-y:0%;background-color:#FFFFFF;}
.tab_list{

	top:1px;
	border-width:0px;
	line-height:15px;
	padding-top:6px;
	padding-right:10px;
	padding-bottom:6px;
	padding-left:10px;
	font-size:12px;
	margin-top:4px;
	margin-right:5px;
	margin-bottom:0px;
	margin-left:0px;
	float:left;
	cursor:pointer;
}
.tab_list1{

	width:50px;
	border:solid 1px #ccc;
	line-height:24px;
	height:24px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;

	font-size:12px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:-1px;
	float:left;
	cursor:pointer;
}
.query .tab_list1{

	width:50px;
	border:solid 1px #ccc;
	line-height:24px;
	height:24px;
	font-size:12px;
	cursor:pointer;
	padding:0px 2px 0px 2px
}
.query .actived1{
	color:#fff;
	border-color:#DDD;
	background-color:#DDD;
	border-bottom-width:1px;
	border-bottom-style:solid;

}
.tab_list_top .actived{
	border-bottom-color:#2BA9E3;
	border-bottom-width:1px;
	border-bottom-style:solid;
	color:#2BA9E3;
}
.tab_list_top .actived1{
	color:#fff;
	border-color:#9A9A9A;
	background-color:#9A9A9A;
	border-bottom-width:1px;
	border-bottom-style:solid;

}
.selected {
color:#9A9A9A;
height:24px;
border-bottom:2px solid #C23531;
margin-bottom:3px;
}
.normal {
color:#9A9A9A;
	height:24px;
border-bottom:2px solid #FFFFFF;
margin-bottom:3px;
}

/*tab*/
.color_blue{color:blue;}
.color_red{color: red;}
/*选择标签*/
.sumList0 {
	margin:0px;
	padding:0px;
}
	.sumList0 li {
		float:left;
		list-style:none;
		margin:0px;
	}
.sumList {width:100%;margin:auto;}
	.sumList li {
		width:25%;
		float:left;
		list-style:none;
	}
.sumList1 {
	width:100%;
	margin:auto;
	
}
	.sumList1 li {
		float:left;
		list-style:none;
		margin-right:10px;
	}
.ybpList {
	margin:0px;
	padding:0px;
}
	.ybpList li {
		float:left;
		list-style:none;
		margin:0px;
	}

.listTable {
	margin:0px;
	border-collapse:collapse;
	table-layout:fixed;

}
.listTable td {
	height:43px;
	font-size:13px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	text-align:left;
	text-overflow:ellipsis;
	word-break:keep-all;
	overflow:hidden;
	background-color:#F9F9F9;
}
	.listTable .num {
		color:black;
		font-weight:bold;
	}
.textBox0
{
   width:110px;height:24px;line-height:24px;background-color:#F8F8F8;border:1px solid #9A9A9A;padding:0px 2px 0px 2px;
}
.textBox1
{
   width:110px;height:24px;line-height:24px;background-color:#F8F8F8;border:1px solid #9A9A9A;padding:0px 2px 0px 2px;
}
.txtDate
{
   float:left;width:70px;height:24px;line-height:24px;background-color:#F8F8F8;border:1px solid #9A9A9A;padding:0px 2px 0px 2px;
}

.btnDate
{
   float:left;border:1px solid #9A9A9A;height:24px;width:24px;border-left:0px;cursor:pointer;
   background:url("../Image/Calendar20B2.png") no-repeat center;
}

.textBox2
{
   float:right;width:110px;height:24px;line-height:24px;border:1px solid #D0D0D0;padding:0px 2px 0px 2px;
}
.query .textBox2
{
	width:110px;height:24px;line-height:24px;border:1px solid #D0D0D0;padding:0px 2px 0px 2px;
}
.countMore {
	margin:0;
	padding-right:20px;
	height:30px;
	line-height:30px;
	float:right;
}
.countMore:hover {
	margin:0;
	padding-right:20px;
	height:35px;
	line-height:35px;
	float:right;
	color:red;
	cursor:pointer;
}
