.scrollBar
{
    /*滚动条样式：仅IE中可用*/ 
    scrollbar-arrow-color:#666666; /*三角箭头的颜色#6/66666*/
    scrollbar-face-color:#666666; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-highlight-color:#666666; /*滚动条的高亮颜色（左阴影？）WHITE*/
    scrollbar-3dlight-color:#666666; /*立体滚动条亮边的颜色#ABABAB*/
    scrollbar-shadow-color:#666666; /*立体滚动条阴边的颜色#ABABAB*/
    scrollbar-darkshadow-color:#EEEEEE; /*立体滚动条外阴影的颜色#EEEEEE*/
    scrollbar-track-color:#222222; /*立体滚动条背景颜色#EEEEEE*/
    scrollbar-base-color:#EEEEEE; /*滚动条的基色#EEEEEE*/
}

.scrollBar2
{
    /*滚动条样式：仅IE中可用*/   
    scrollbar-arrow-color:#999999; /*三角箭头的颜色#6/66666*/
    scrollbar-face-color:#999999; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-highlight-color:#999999; /*滚动条的高亮颜色（左阴影？）WHITE*/
    scrollbar-3dlight-color:#999999; /*立体滚动条亮边的颜色#ABABAB*/
    scrollbar-shadow-color:#999999; /*立体滚动条阴边的颜色#ABABAB*/
    scrollbar-darkshadow-color:#EEEEEE; /*立体滚动条外阴影的颜色#EEEEEE*/
    scrollbar-track-color:#444444; /*立体滚动条背景颜色#EEEEEE*/
    scrollbar-base-color:#EEEEEE; /*滚动条的基色#EEEEEE*/
}

.scrollBar3
{
    /*滚动条样式：仅IE中可用*/   
    scrollbar-arrow-color:#999999; /*三角箭头的颜色#6/66666*/
    scrollbar-face-color:#999999; /*立体滚动条的颜色（包括箭头部分的背景色）*/
    scrollbar-highlight-color:#999999; /*滚动条的高亮颜色（左阴影？）WHITE*/
    scrollbar-3dlight-color:#999999; /*立体滚动条亮边的颜色#ABABAB*/
    scrollbar-shadow-color:#999999; /*立体滚动条阴边的颜色#ABABAB*/
    scrollbar-darkshadow-color:#EEEEEE; /*立体滚动条外阴影的颜色#EEEEEE*/
    scrollbar-track-color:#555555; /*立体滚动条背景颜色#EEEEEE*/
    scrollbar-base-color:#EEEEEE; /*滚动条的基色#EEEEEE*/
}

::-webkit-scrollbar {width:16px;height:16px;}
::-webkit-scrollbar-track-piece{background-color:transparent;}
::-webkit-scrollbar-thumb{background: #999999;min-height:150px;min-width:150px;border-radius:0px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #666666}
::-webkit-scrollbar-thumb:horizontal:hover{background: #666666}