/* CSS初始化示例代码 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
td,th,caption {
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}
img {
    border: none;
    vertical-align: top;
}
ol,ul,li {
    list-style: none;
}
input,textarea,select,button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}
table {
    border-collapse: collapse;
}
html {
    overflow-y: scroll;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: orange;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}





.site-header,.main,.site-footer,.site-info {
    width: 100%;
}
.container {
    margin: 0 auto;
}
.site-topbar {
    width: 100%;
    height: 85px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.site-topbar .logo{
    float: left;
    margin-left: 5%;
}
.site-topbar .container .logo a{
    display: inline-block;
    width: 188px;
    height: 85px;
    background:  url(../img/logo1.png) no-repeat center center;
    background-size: contain;
}
.site-topbar .container .logo a:hover{
    background:  url(../img/logo.png) no-repeat center -1px;
    background-size: 94%;
}
.site-topbar .container .nav{   
    float: right;
    margin:17px 5% 0 0;
}
.site-topbar .container .nav ul li{
    float: left;
}
.site-topbar .container .nav ul li a{
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #dedede;
}
.site-topbar .container .nav ul li:nth-last-child(n+2) a i{
   display: inline-block;
   padding:0 5px;
   transition: all 0.5s;
}
.site-topbar .container .nav ul li:hover a{
    color: orange;
}
.site-topbar .container .nav ul li:hover a i{
    transform: rotate(180deg);
    color: orange;
}
.site-topbar .container .nav ul li:nth-child(2) .listDown {
position: relative;
}
.site-topbar .container .nav ul li:nth-child(2) .listDown {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 105px;
    background:  green url(../img/weixin.jpg) no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: all 0.5s;
}
.site-topbar .container .nav ul li:nth-child(2):hover .listDown {
    transform:translateY(-20px);
    opacity: 1;
}
.header {
    margin-top: 85px;
}
.header .nav {
    height: 65px;
    margin-left: 5%;
}
.header .nav ul li{
    float: left;
    padding-top: 7px;
    color: #504e4f;
}
.header .nav ul li a{
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}





.header .slider{
    width :1920px ;
    height: 640px;
    position: relative;
    margin  : 0 auto;
    overflow: hidden;
}

.header .slider-scroll{
    width   : 1920px;
    height  : 640px;
    position: relative; 
}

.header .slider-main{
    width: 3840px;
    height : 640px;
}

.header .slider-main-img{
    width   : 1920px;
    height  : 640px;
    position: absolute;
    z-index: -1;
}

.header .slider-main-img img{
    width : 100%;
    height: 100%;
}
.header .slider-ctl{
    cursor : pointer;
    text-align: center;
}
.header .slider-ctl-prev, .slider-ctl-next{
    width: 100px;
    height : 200px;
    position: absolute;
    top : 50%;
    margin-top: -100px;
	background: no-repeat center center;
    background-size: 150%;
    display: none;
}
.header .slider:hover .slider-ctl-prev,.header .slider:hover .slider-ctl-next{
    display: block;
}
.header .slider-ctl-prev{
    left: 5px;
    background-image: url(../img/banner_left.png);
}

.header .slider-ctl-next{
    background-image: url(../img/banner_right.png);
    right : 5px;
}

.header  span.slider-ctl-icon{
    display : inline-block;
    position: relative;
    top: -20px;
    left: 0%;
    z-index: 1;
    width : 57px;
    height: 5px;
    margin : 5px ;
    text-indent: 20em;
    background-color:#888981 ;
    border: 1px solid #b3b0c5;
    box-sizing: border-box;
}

.header span.current{
    background-color: #fefff7;
}

.header .show-center{
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
.header .show-center>div{
    float: left;
    width: 25%;
    height: 105px;
    background-color: #efefef;
}
.header .show-center>div a{
    display: block;
    width: 200px;
    height: 105px;
    margin: 0 auto;
    padding-left: 70px;
    position: relative;
}
.header .show-center>div a::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 22px;
    left: 0px;
    background: no-repeat center cneter ;
    background-size: 100%;
}
.header .show-center>div a p:nth-child(1){
    padding-top: 25px;
    font-size: 20px;
    font-family: "微软雅黑";
}
.header .show-center>div a p:nth-child(2){
    margin-top:5px ;
    font-size: 10px;
}
.header .show-center .first a::before{
    background-image: url(../img/jishutese01.png);
}
.header .show-center .second a::before{
    background-image: url(../img/guochengguanli02.png);
}
.header .show-center .third a::before{
    background-image: url(../img/fuwu&zhichi03.png);
}
.header .show-center .fourth a::before{
    background-image: url(../img/jingdiananli04.png);
}

.technology{
    width: 100%;
    height: 750px;
}
.technology .container{
    width: 80%;
    margin: 0 auto;
}
.technology .top p{
    text-align: center;
    font-family: "微软雅黑";
}
.technology .top p:nth-child(1){
    padding-top: 180px;
    font-size: 40px;
    color: #2e2d2b;
}
.technology .top p:nth-child(2){
    margin-top: 10px;
    font-size: 24px;
    color: #6c6c6c;
}
.technology .bottom{
    margin-top: 100px;
}
.technology .bottom>div{
    width: 25%;
    float: left;
}
.technology .bottom>div img{
    display: block;
    margin: 0 auto;
    width: 80px;
}
.technology .bottom>div p{
    width: 280px;
    font-family: "微软雅黑";
    margin: 0 auto;
}
.technology .bottom>div p:nth-child(2){
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}
.technology .bottom>div p:nth-child(3){
    margin-top: 50px;
    font-size: 18px;
}