.gridHead
{
    font-family: 宋体, Arial, Helvetica, sans-serif;font-size:small; overflow:hidden;border-color:#E6E6E6;
}

.gridHead table
{
    border-collapse:collapse;border-spacing:0px; table-layout:fixed;width:0; 
}

.gridHead th
{
    border-right:1px solid #E6E6E6;border-bottom:0px;text-align:center;  font-weight:normal; cursor:default; 
}

.gridHead th:hover
{
    background-color:#D0D0D0;/*border:1px solid red;border-top:1px solid silver;#EFEFEF,CEE2FC*/
}

.gridHead2
{
    font-family: 宋体, Arial, Helvetica, sans-serif;font-size:small; overflow:hidden;border-color:#EEEEEE; 
}

.gridHead2 table
{
    border-collapse:collapse;border-spacing:0px; table-layout:fixed;width:0;
}

.gridHead2 th
{
    border-right:1px solid #EEEEEE;border-bottom:0px;text-align:center;font-weight:normal;cursor:default; /*E6E6E6*/
}

.gridHead2 th:hover
{
    background-color:#EFEFEF;/*border:1px solid red;border-top:1px solid silver;#EFEFEF,CEE2FC*/
}

.gridBody
{
    font-family: 宋体, Arial, Helvetica, sans-serif;font-size:small; overflow:auto;border-top:1px solid #E2E2E2;
}

.gridBody table
{
    border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:0;
}

.gridBody td
{
    border-right:1px solid #EEEEEE;text-align:left;cursor:default;/*#E6E6E6*/
}

.gridSumRow
{
    font-family: 宋体, Arial, Helvetica, sans-serif;font-size:small; overflow:hidden;border-top:0px solid #E6E6E6;border-color:#E6E6E6;
}

.gridSumRow table
{
    border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:0;
}

.gridSumRow td
{
    border-right:1px solid #E6E6E6;text-align:left;cursor:default;/*#E0E0E0*/
}

.gridPagination
{
    border:0px;background-color:#EEEEEE;
}

.noTextSelect {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}